$text-size: 35px;


.letter-button {
	
	display:inline;
	font-size: $text-size;
	
}

.placeholders {

font-size: $text-size;
margin: 20px;
text-align:center;

}

#alphabet-keypad {
	
	text-align: center;
}

p {
	
	display:inline;
}

